<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<!-- <add key="github" value="https://gitlab.com/api/v4/groups/replace_me/-/packages/nuget/index.json" /> -->
		<!-- <add key="eventuous-dev" value="https://www.myget.org/F/eventuous/api/v3/index.json" /> -->
	</packageSources>
	<!-- <packageSourceMapping>
        <packageSource key="eventuous-dev">
		<package pattern="Eventuous" />
            <package pattern="Eventuous.*" />
        </packageSource>
		<packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping> -->
	<!-- <packageSourceCredentials>
		<github>
			<add key="Username" value="replace_me" />
			<add key="ClearTextPassword" value="replace_me" />
		</github>
	</packageSourceCredentials> -->
</configuration>